<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Mobilidade</title>
</head>

<body>
  <header>
		<div class="container-home-start" id="topo">
			<!-- nav -->
			<nav class="nav-home-start">
				<div class="logo-home-start">
					<a href="home">Focus<span>Fit</span></a>
				</div>
				<ul>
					<li><a href="home">Home</a></li>
					<li><a href="planos">Planos</a></li>
					<li><a href="contato">Contato</a></li>
					<li><a href="">Sobre</a></li>
					<!-- <li><a href="login.html">IMC</a></li>-->
					<div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Metricas
						</button>
						<div class="dropdown-menu">
						  <a class="dropdown-item" href="imc">IMC</a>
						  <a class="dropdown-item" href="agua">Água</a>
						  <a class="dropdown-item" href="taxa-basal-homem">Taxa Basal</a>
						  <a class="dropdown-item" href="">Link separado</a>
						</div>
					  </div>

					  <div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Exercicios
						</button>
						<div class="dropdown-menu">
						  <a class="dropdown-item" href="meta">IMC</a>
						  <a class="dropdown-item" href="massa">Água</a>
						  <a class="dropdown-item" href="">Taxa Basal</a>
						  <a class="dropdown-item" href="">Link separado</a>
						</div>
					  </div>
					<li><a href="meta"> Objetivo </a></li>
	
	
				</ul>
				<div class="menu-icon">
					<img src="images/menu.svg">
					
				</div>
			
			</nav>
	</header>

    <div class="container-ema">
      <!-- Card 1 -->
      <div class="card card-1">
        <!-- card-header -->
        <div class="card-header">
          <img src="images/Alongamento do tronco.jpg" class="card-img" />
        </div>
        <!-- card-header -->

        <!-- card-body -->
        <div class="card-body">
          <h2 class="card-local">Alongamento do tronco</h2>
          <h2 class="card-titulo"></h2>
          <p class="card-texto">
            É um alongamento perfeito para aliviar a tensão concentrada nesta área. A alternativa é ideal para quem passa o dia na mesma posição e também ajuda a melhorar a sua postura.
          </p>
        </div>
        <!-- card-body -->

        <!-- card-footer -->
        <div class="card-footer">
          <a href="home">Ver mais</a>
        </div>
        <!-- card-footer -->
      </div>
      <!-- Card 1 -->

      <!-- Card 2 -->
      <div class="card card-2">
        <!-- card-header -->
        <div class="card-header">
          <img src="images/Alongamento para pernas.jpg" class="card-img" />
        </div>
        <!-- card-header -->

        <!-- card-body -->
        <div class="card-body">
          <h3 class="card-local">Alongamento para pernas</h3>
          <h2 class="card-titulo"></h2>
          <p class="card-texto">
            Você terá mais flexibilidade e amplitude para fazer os movimentos do seu treino, potencializando a sua performance do começo ao fim da atividade física.
          </p>
        </div>
        <!-- card-body -->

        <!-- card-footer -->
        <div class="card-footer">
          <a href="#">Ver mais</a>
        </div>
        <!-- card-footer -->
      </div>
      <!-- Card 2 -->

      <!-- Card 3 -->
      <div class="card card-3">
        <!-- card-header -->
        <div class="card-header">
          <img src="images/Alongamento do pescoço.jpg" class="card-img" />
        </div>
        <!-- card-header -->

        <!-- card-body -->
        <div class="card-body">
          <h3 class="card-local">Alongamento do pescoço</h3>
          <h2 class="card-titulo"></h2>
          <p class="card-texto">
            Caso esteja sentindo uma tensão no seu pescoço, quer relaxar ou vai exercitar os membros superiores do seu corpo, uma boa dica é fazer o alongamento do pescoço, que é bastante simples, porém muito eficiente.
          </p>
        </div>
        <!-- card-body -->

        <!-- card-footer -->
        <div class="card-footer">
          <a href="#">Ver mais</a>
        </div>
        <!-- card-footer -->
      </div>
      <!-- Card 3 -->
      
      
    </div>








    <div class="container-ema">
        <!-- Card 1 -->
        <div class="card card-1">
          <!-- card-header -->
          <div class="card-header">
            <img src="images/Alongamento de quadríceps.jpg" class="card-img" />
          </div>
          <!-- card-header -->
  
          <!-- card-body -->
          <div class="card-body">
            <h3 class="card-local">Alongamento de quadríceps</h3>
            <h2 class="card-titulo"></h2>
            <p class="card-texto">
                Esse alongamento na área do quadríceps é essencial para evitar que essa região se torne rígida, o que pode acarretar em dores nas costas e joelhos e, nos casos mais graves, facilitar a ocorrência de lesões.
            </p>
          </div>
          <!-- card-body -->
  
          <!-- card-footer -->
          <div class="card-footer">
            <a href="#">Ver mais</a>
          </div>
          <!-- card-footer -->
        </div>
        <!-- Card 1 -->
  
        <!-- Card 2 -->
        <div class="card card-2">
          <!-- card-header -->
          <div class="card-header">
            <img src="images/Alongamento do tríceps.jpg" class="card-img" />
          </div>
          <!-- card-header -->
  
          <!-- card-body -->
          <div class="card-body">
            <h3 class="card-local">Alongamento do tríceps</h3>
            <h2 class="card-titulo"></h2>
            <p class="card-texto">
                Para quem pegou pesado no treino dos membros superiores, uma boa dica é alongar os tríceps, pois isso ajuda na recuperação dos músculos trabalhados durante a musculação e evita o desenvolvimento de lesões nesse local.
            </p>
          </div>
          <!-- card-body -->
  
          <!-- card-footer -->
          <div class="card-footer">
            <a href="#">Ver mais</a>
          </div>
          <!-- card-footer -->
        </div>
        <!-- Card 2 -->
        
      </div>
      <script src="js/app.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
