<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body class="fadeIn">
    <div class="container-home">
        <div class="container-home-start">
            <!-- nav -->
            <nav class="nav-home-start">
                <div class="logo-home-start">
                    <a href="index">Focus<span>Fit</span></a>
                </div>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="planos">Planos</a></li>
                    <li><a href="contato">Contato</a></li>
                    <li><a href="sobre">Sobre</a></li>
                    <li><a href="login">Login</a></li>
                    <li><a href="cadastro"> Cadastre-se </a></li>
                </ul>
                <div class="menu-icon">
                    <img src="images/menu.svg">
    
                </div>
        </div>
            </nav>
        <div class="form">
            <form method="post" action="/cadastro" >
                <div class="form-header">
                    <div class="form-header-login">
                    <div class="title">
                        <h1>Cadastre-se</h1>
                    </div>
                </div>
                   
                </div>
                <div class="input-group-login">
                    <div class="input-box">
                    
                        <label for="nome">Nome Completo</label>
                        <input id="nome" type="nome" name="nome" placeholder="Digite seu nome" required>
                </div>

                    <div class="input-box">
                        <label for="email">E-mail</label>
                        <input id="email" type="email" name="email" placeholder="Digite seu e-mail" required>
                    <div class="inputail" >
                    </div>
                        <label for="password">Senha</label>
                        <input id="senha" type="password" name="password" placeholder="Digite sua senha" required>
                    </div>

                    <div class="input-box">
                    
                        <label for="telefone">Telefone</label>
                        <input id="telefone" type="text" name="telefone" placeholder="(11)99999-9999">
                    </div>
        
                </div>
                <div class="esqueceu-senha">
                    <p>Esqueceu sua senha? <a href="esqueceu_senha">Clique aqui</a></p>
                </div>

                <div class="continue-button">
                
                    <div class="login-button">
                        <button id="btn" class="btn btn-second" type="button" value="enviar"><a href="home  ">Cadastrar</a></button>
                    </div>

                <div class="cadastro-link">
                    <p>Já tem uma conta? <a href="login">Realize seu Login</a></p>
                </div>
            
            </form>
        </div>
    </div>
    <div>
        <script src="js/script.js"></script>
        <script src="js/jquery.mask.min.js"></script>
        <script src="js/form.js"></script>
        <script src="js/app.js"></script>
       <script src="js/main.js"></script>
    </div>



</body>
</html>