<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cronômetro</title>
    <link rel="stylesheet" href="css/crono.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <script src="js/crono.js"></script>
</head>
<body>
    <header id="header">
        <nav class="container">
    
    
            <a href="index">Focus<span>Fit</span></a>
    
        <div class="menu_h"><a href=""><i class=""></i></div></a>
        <div class="login"><a href=""><i class="fi fi-rs-user"></i></div></a>
    </nav>
            </header>
    
    <div class="c-body">
        <div class="c-time">
            <div class="screen">
                <span id="time">00:00:00.00</span>
                
            </div>
            <div class="c-btn">
                <button id="btn-start">&#9658;</button>
                <button id="btn-stop">&#8718;</button>
                <button id="btn-reset">&#8635;</button>
            </div>
        </div>

    </div>
    
    
   
</body>
</html>