<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Esqueceu senha</title>
</head>

<body class="fadeIn">
    <div class="container-form">
        <div class="form-image">
            <img src="images/undraw_forgot_password_re_hxwm.svg" alt="">
        </div>
        <div class="form">
            <form action="#">
                    <div class="title-form-forgot">
                        <h1>Quase lá!</h1>
                </div>
               
                <div class="input-group-forgot-password">
                    
                    <div class="esqueceu-senha-continuar">
                        <p>Enviamos um link para seu endereço de email, clicando neste link você será redirecionado para cadastrar uma nova senha!</p>
                    </div>
                </div>
                <div class="continue-button-forgot">
                    <button><a href="login">Continuar </button></a>
                    </div>
                                 
            </form>
        </div>
    </div>
</body>

</html>